@model List<MyLearningProject.DAL.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Anasayfa</a></li>
            <li class="breadcrumb-item active">@ViewBag.SayfaBasligi</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <a href="#" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">Raporları İndir</a>
    </div>
</div>

<h2>Index</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                Kategori Listesi
                <br /><br />
                <div class="w3-panel w3-pale-red w3-border">
                    <p><h2 style="border:4px solid red;font-style:initial;">Ana Sayfada Sadece 4 Kategori Listelenmektedir İlk 4 True Değerini Alır Sistem</h2></p>                   
                </div>
            
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>Kategori Resimi</th>
                        <th>Ana Sayfada Görünüsün Mü</th>

                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @{
                        int a = 0; // Veri sayacını sıfıra ayarla
                    }

                    @if (Model.Any()) // Model içinde veri varsa
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryID</td>
                                <td>@item.CategoryName</td>
                                <td><img src="@item.CategoryImageUrl" style="width:100px;height:100px;" /></td>
                                <td>@item.CategoryFilter</td>
                                <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                            a++;
                        }
                    }
                    else // Model içinde veri yoksa
                    {

                        <br />
                        <div class="alert alert-danger">
                            <h4 class="alert-heading">Dikkat!</h4>
                            <p>Hiç Veri Bulunamadı</p>
                        </div>
                    }

                </table>
                <a href="/Category/AddCategory" class="btn btn-outline-primary">Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>